@import '../../styles/_variables';

.stache-action-buttons {
  margin: $stache-margin 0;

  ::ng-deep sky-column {
    display: flex;
  }

  ::ng-deep sky-action-button {
    display: flex;
    align-items: stretch;
    margin: 15px 0;
    width: 100%;
  }

  ::ng-deep .sky-action-button {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    max-width: initial !important;
  }

  ::ng-deep .sky-search-dismiss-absolute {
    padding: 5px 0 !important;
  }
}

.stache-action-buttons-search-container {
  position: relative;
  display: flex;
  min-height: 49px;
  margin-bottom: $stache-margin;
}
