@import '../../styles/_variables';

.stache-action-buttons {
  margin: $stache-margin 0;
}

.stache-action-button-override {
  display: inline-block;
  width: 100%;
  margin: 15px 0;

  ::ng-deep .sky-action-button {
    max-width: initial !important;
  }

  &:hover {
    text-decoration: none;
  }
}

.stache-action-buttons-search-container {
  position: relative;
  display: flex;
  min-height: 49px;
  margin-bottom: $stache-margin;
}

/deep/
.stache-action-buttons {
  .sky-column {
    display: inline-flex;
  }
  .sky-search-dismiss-absolute {
    padding: 5px 0 !important;
  }
}
