<div class="stache-action-buttons" *ngIf="routes.length">
  <div *ngIf="showSearch" class="stache-action-buttons-search-container">
    <sky-search expandMode="fit"
      [searchText]="searchText"
      (searchApply)="searchApplied($event)"
      (keyup)="onKeyUp($event)">
    </sky-search>
  </div>

  <nav>
    <sky-fluid-grid
      [disableMargin]="true"
    >
      <sky-row>
        <sky-column *ngFor="let route of filteredRoutes"
          screenLarge="3"
          screenMedium="4"
          screenSmall="6"
        >
          <sky-action-button
            [permalink]="getPermalink(route)"
          >
            <sky-action-button-icon *ngIf="route.icon"
              iconType="{{route.icon}}"
            >
            </sky-action-button-icon>
            <sky-action-button-header>
              {{route.name}}
            </sky-action-button-header>
            <sky-action-button-details>
              {{route.summary}}
            </sky-action-button-details>
          </sky-action-button>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </nav>

</div>
