/*******************************************************************************
 * TODO: The following component libraries introduced visual breaking changes
 * in SKY UX 7. Each block of CSS reintroduces the styles that were changed or
 * removed for backwards compatibility. You will need to do the following
 * before migrating to the next major version of SKY UX:
 * - Address each of the changes by following the instructions
 *   in each block of CSS, then remove the block.
 * - Delete this file after all blocks have been addressed.
 * - Remove each occurrence of this file in your project's
 *   angular.json file.
 *******************************************************************************/

/*******************************************************************************
 * COMPONENT: ALERT
 *******************************************************************************/

/*******************************************************************************
 * The preset bottom margin has been removed from alert components. To
 * implement the newly-recommended spacing, add the `sky-margin-stacked-lg`
 * CSS class to each `sky-alert` component in your application, then remove
 * this block.
 *******************************************************************************/

.sky-alert {
  margin-bottom: 20px;
}
/*******************************************************************************
 * COMPONENT: DESCRIPTION LIST
 *******************************************************************************/

/*******************************************************************************
 * The preset bottom margin has been removed from description list components
 * in horizontal and vertical modes in default theme and vertical mode in
 * modern. To implement the newly-recommended spacing, add the
 * `sky-margin-stacked-lg` CSS class to each `sky-description-list` component
 * in your application, then remove this block.
 *******************************************************************************/

.sky-description-list-vertical-mode .sky-description-list-content:last-child {
  margin-bottom: 15px;
}

.sky-theme-modern
  .sky-description-list-vertical-mode
  .sky-description-list-content:last-child {
  margin-bottom: 20px;
}

:root {
  --sky-compat-description-list-margin-bottom: 0;
}
